.title-page{
	margin-top: 100px;
	margin-bottom: 65px;
	width: 100%;
}
.container {
	margin-top: 0;
	margin-bottom: 3em;
}
.card-img{
	width: 100%;
	height: auto;
	border-radius: 0;
}
.card-img:hover{
	filter: brightness(0.9)
}
