.descripcion{
	font-size: 18px;
}

.titulo-carousel{
	font-size: 10vh;
}
.carousel-item {
  	height: 100vh;
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}
.lead{
	font-size: 5vh;

}
.col-sm{
	padding: 5px;
}
.col-sm:nth-child(1) .card {
  background-color: #ed5353;
}
.col-sm:nth-child(2) .card {
  background-color: #0078D7 ;
}
.col-sm:nth-child(3) .card {
  background-color: #00B294 ;
}
.cardt{
	text-shadow: 0px 1px 1px rgba(2,2,2,0.2);
}
.card-video{
	width: 100%;
	height: auto;
	border-radius: 0;
}
.text-bold{
	font-weight: bold;
}
