.fondo-barra{
	background-color: #273445;
	text-shadow: 0px 1px 2px rgba(2,2,2,.3);
	box-shadow: 0 0 1px rgba(2,2,2,.4);
}
.titulo-contacto{
	height: 100vh;
  	background-color: #f9c440;
}
.titulo-carousel{
	font-size: 12vh;
	text-shadow: 0px 1px 2px rgba(2,2,2,.5);
}
.carousel-caption {
    top: 35%;
    bottom: auto;
}
.container {
	margin-top: 3em;
	margin-bottom: 3em;
}
.color-footer{
	background: #3689e6;
}
.color-footer-end{
	background: #0d52bf;
}
.links > li > a {
	color: white;
}
.card-img{
	width: 100%;
	height: auto;
	border-radius: 0;
}
.card-img:hover{
	filter: brightness(0.9)
}